.panel-about{
    font-family: Segoe UI;
    background: rgba(90, 87, 87, 0.694);
}

.panel-about .dark-title{
    padding: 15px 0 15px 0;
    background: rgba(0, 0, 0,0.5);
}

.panel-about .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.panel-about .subtitle{
    text-align: center;
    color: white;
    font-size: 20px;
}

.panel-about .about-description{
    text-align: justify;
    color: white;
    padding: 25px 25px 25px 25px;
    font-size: 18px;
    line-height: 1.5;
}